In [1]:
#dependencies
import pandas as pd

In [2]:
#CSV file path
gdp_file = "Resources/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4413598.csv"

#Read using pandas
raw_gdp = pd.read_csv(gdp_file)
raw_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,NaN

In [3]:
#start up clean up process by only narrowing down to year 2020
raw_gdp.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [4]:
clean_gdp = raw_gdp.loc[:, ["Country Name", "Indicator Name", "2020"]]
clean_gdp.head()

                  Country Name     Indicator Name          2020
0                        Aruba  GDP (current US$)  2.496648e+09
1  Africa Eastern and Southern  GDP (current US$)  9.216459e+11
2                  Afghanistan  GDP (current US$)  2.011614e+10
3   Africa Western and Central  GDP (current US$)  7.844457e+11
4                       Angola  GDP (current US$)  5.361907e+10

In [5]:
len(clean_gdp["2020"])

266

In [6]:
#getting rid of zero values
gdp = clean_gdp.loc[(clean_gdp["2020"] > 0)]
len(gdp["2020"])

251

In [7]:
gdp.head()

                  Country Name     Indicator Name          2020
0                        Aruba  GDP (current US$)  2.496648e+09
1  Africa Eastern and Southern  GDP (current US$)  9.216459e+11
2                  Afghanistan  GDP (current US$)  2.011614e+10
3   Africa Western and Central  GDP (current US$)  7.844457e+11
4                       Angola  GDP (current US$)  5.361907e+10

In [8]:
#checking for duplicate values
duplicate_gdp = gdp[gdp.duplicated()]
duplicate_gdp

Empty DataFrame
Columns: [Country Name, Indicator Name, 2020]
Index: []

In [9]:
#renaming Indicator Name column
gdp = gdp.rename(columns={"Indicator Name" : "GDP Measured In"})
gdp.head()

                  Country Name    GDP Measured In          2020
0                        Aruba  GDP (current US$)  2.496648e+09
1  Africa Eastern and Southern  GDP (current US$)  9.216459e+11
2                  Afghanistan  GDP (current US$)  2.011614e+10
3   Africa Western and Central  GDP (current US$)  7.844457e+11
4                       Angola  GDP (current US$)  5.361907e+10