In [1]:
#dependencies
import pandas as pd

In [3]:
#CSV file path
gdp_file = "Resources/gdp2020.csv"

food_file = "Resources/foodbank2020.csv"


gdp = pd.read_csv(gdp_file)

food = pd.read_csv(food_file)

gdp.head()

   Unnamed: 0                 Country Name  2020 GDP in USD
0           0                        Aruba     2.496648e+09
1           1  Africa Eastern and Southern     9.216459e+11
2           2                  Afghanistan     2.011614e+10
3           3   Africa Western and Central     7.844457e+11
4           4                       Angola     5.361907e+10

In [7]:
gdp = gdp.rename(columns={"Country Name" : "Country"})
gdp.head()

   Unnamed: 0                      Country  2020 GDP in USD
0           0                        Aruba     2.496648e+09
1           1  Africa Eastern and Southern     9.216459e+11
2           2                  Afghanistan     2.011614e+10
3           3   Africa Western and Central     7.844457e+11
4           4                       Angola     5.361907e+10

In [6]:
food.head()

,Unnamed: 0,Country,Item,Element,Year,Unit,Value,Population Size
0,0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,0.0,38928341.0
1,1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,0.0,38928341.0
2,2,Afghanistan,Apples,Production,2020,tonnes,0.0,38928341.0
3,3,Afghanistan,Apricots,Production,2020,tonnes,0.0,38928341.0
4,4,Afghanistan,Barley,Production,2020,tonnes,0.0,38928341.0

In [16]:
combined = pd.merge(food, gdp, how='left', on= 'Country')
combined.head()

,Unnamed: 0_x,Country,Item,Element,Year,Unit,Value,Population Size,Unnamed: 0_y,2020 GDP in USD
0,0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
1,1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
2,2,Afghanistan,Apples,Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
3,3,Afghanistan,Apricots,Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
4,4,Afghanistan,Barley,Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10

In [18]:
del combined["Unnamed: 0_x"]
combined.head()

,Country,Item,Element,Year,Unit,Value,Population Size,Unnamed: 0_y,2020 GDP in USD
0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
2,Afghanistan,Apples,Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
3,Afghanistan,Apricots,Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10
4,Afghanistan,Barley,Production,2020,tonnes,0.0,38928341.0,2.0,2.011614e+10

In [19]:
del combined["Unnamed: 0_y"]
combined.head()

,Country,Item,Element,Year,Unit,Value,Population Size,2020 GDP in USD
0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,0.0,38928341.0,2.011614e+10
1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,0.0,38928341.0,2.011614e+10
2,Afghanistan,Apples,Production,2020,tonnes,0.0,38928341.0,2.011614e+10
3,Afghanistan,Apricots,Production,2020,tonnes,0.0,38928341.0,2.011614e+10
4,Afghanistan,Barley,Production,2020,tonnes,0.0,38928341.0,2.011614e+10

In [27]:
combined["GDP Per Capita"] = combined["2020 GDP in USD"] / combined["Population Size"]
combined.head()

,Country,Item,Element,Year,Unit,Value,Population Size,2020 GDP in USD,GDP Per Capita
0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
2,Afghanistan,Apples,Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
3,Afghanistan,Apricots,Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871
4,Afghanistan,Barley,Production,2020,tonnes,0.0,38928341.0,2.011614e+10,516.747871

In [28]:
combined.to_csv("Resources/combined.csv")